name: aventura_heroi
description: "Um jogo educativo de quiz sobre história da computação"

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  sqflite_common_ffi: ^2.3.1
  shared_preferences: ^2.2.2
  google_fonts: ^6.1.0
  crypto: ^3.0.3
  path: ^1.8.3

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true

  assets:
  - assets/audio/bg_music.mp3
  - assets/audio/click.mp3
